[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.address md-input-container {
    margin: 0px;
}

.address {
    margin-bottom: 20px;
}

.form-container md-input-container {
    margin: 0;
}

.form-container {
    margin: 48px;
}

.whiteframe {
        background: #f7f7f7;
}

.date-picker md-datepicker {
    background: #f7f7f7;
}

.date-picker {
        margin-bottom: 18px;
}

#vertical-container {
  height: 70vh;
}
