[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.address md-input-container {
    margin: 0px;
}

.address {
    margin-bottom: 20px;
}

.form-container md-input-container {
    margin: 0;
}

.form-container {
    margin: 48px;
}

.whiteframe {
    background: #f7f7f7;
}

.date-picker md-datepicker {
    background: #f7f7f7;
}

.date-picker {
    margin-bottom: 18px;
}

#vertical-container {
    height: 70vh;
}

#drug-icon {
    margin: 20px;
}

.form-standard {
    width: 500px;
}

.medkit-svg {
    font-size: 150px;
    color: orange;
}

.login-content {
    background: url(./../img/mb-bg-fb-22.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}