<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link href="jspm_packages/github/angular/bower-material@1.0.6/angular-material.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="style/style.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="MainMenuController" layout="column" layout-fill ng-cloak>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()" hide-gt-md>
                    <md-icon md-font-set="material-icons">menu</md-icon>
                </md-button>
                <h2 class="md-display-3">Pharmscription</h2>
                <span flex></span>
                <md-menu>
                    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="More">
                        <md-icon md-font-set="material-icons">more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item><md-button ng-click="doSomething()">Login</md-button></md-menu-item>
                        <md-menu-item><md-button href="#/">Home</md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" ng-click="toggleLeft()" hide-gt-md>
                            <md-icon md-font-set="material-icons">arrow_back</md-icon>
                        </md-button>
                        <span>Menu</span>
                    </div>
                </md-toolbar>
                <md-content layout-padding ng-controller="MainSideMenuController">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <p hide-md show-gt-md>
                        This sidenav is locked open on your device. To go back to the default behavior,
                        narrow your display.
                    </p>
                </md-content>
            </md-sidenav>
            <md-content flex>
                <div ng-view layout="column" layout-fill layout-align="top center">
                </div>
            </md-content>
        </section>
    </div>

<script src="/jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
    System.import('./ts/bootstrap.ts')
        .catch(console.error.bind(console));
</script>
</body>


</html>
