<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">Patienten Übersicht</div>
</md-toolbar>
<md-whiteframe class="whiteframe md-whiteframe-2dp form-standard" layout="column" layout-align="center" layout-margin>
    <div layout="column" ng-click="widgetExpanded = !widgetExpanded" ng-show="PrescriptionView.prescription.prescriptionHistory.length > 0">
        <div flex>
            <md-icon ng-hide="widgetExpanded" md-font-set="material-icons">keyboard_arrow_down</md-icon>
            <md-icon ng-show="widgetExpanded" md-font-set="material-icons">keyboard_arrow_up</md-icon>
            <div>History</div>
        </div>
    </div>
    <md-list layout-fill ng-slide-down="widgetExpanded" duration="0.2" lazy-render>
        <md-list-item ng-repeat="prescription in PrescriptionView.prescription.prescriptionHistory" md-item-size="20" md-on-demand>
            <div layout="column">
                <div flex layout="column">
                    <span>Geändert am {{ prescription.EditDate }}</span>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <div layout="row" layout-align="space-between center">
        <span class="md-headline">Rezept #{{PrescriptionView.prescription.Id}}</span>
        <span>Gültig bis: {{PrescriptionView.prescription.ValidUntil | date:"dd.MM.yyyy"}}</span>
    </div>
    <md-divider></md-divider>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="drugItem in PrescriptionView.openDrugs" ng-hide="drugItem.Quantity == 0">
            <md-icon>healing</md-icon>
            <div class="md-list-item-text" layout="column">
                <span>Beschreibung: {{drugItem.Drug.DrugDescription}}</span>
                <span>Dosierung: {{drugItem.DosageDescription}}</span>
                <span>Menge: {{drugItem.Quantity}}</span>
            </div>
            <md-button class="md-secondary" ng-click="PrescriptionView.addToDispense(drugItem)">
                <md-icon>add_circle</md-icon>
                <md-tooltip>Medikament zur Abgabe hinzufügen</md-tooltip>
            </md-button>
            <div flex></div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <md-button class="md-raised md-accent">
        <md-icon>mode_edit</md-icon>
        Rezept bearbeiten
    </md-button>
</md-whiteframe>
<md-whiteframe class="whiteframe md-whiteframe-2dp form-standard" layout="column" layout-margin>
    <div ng-click="widgetExpanded = !widgetExpanded">
        <md-icon ng-hide="widgetExpanded" md-font-set="material-icons">keyboard_arrow_down</md-icon>
        <md-icon ng-show="widgetExpanded" md-font-set="material-icons">keyboard_arrow_up</md-icon>
        <span>Aussteller Informationen</span>
    </div>
    <div ng-slide-down="widgetExpanded" duration="0.2" lazy-render>
        <div layout="column" layout-align="center start">
            <span>{{ PrescriptionView.prescription.Doctor.FirstName }} {{PrescriptionView.prescription.Doctor.LastName}}</span>
            <span>{{ PrescriptionView.prescription.Doctor.Address.Street}} {{PrescriptionView.prescription.Doctor.Address.Number}}</span>
            <span>{{ PrescriptionView.prescription.Doctor.Address.CityCode}} {{PrescriptionView.prescription.Doctor.Address.City}}</span>
            <span>Tel. {{ PrescriptionView.prescription.Doctor.PhoneNumber}}</span>
        </div>
    </div>
</md-whiteframe>
<md-whiteframe class="whiteframe md-whiteframe-2dp form-standard" layout="column" layout-align="center" layout-margin>
    <span class="md-headline">Rezeptabgabe</span>
        <!--<md-list-item ng-show="!PrescriptionView.prescription.Dispenses.length">
            <md-icon class="md-48 md-avatar-icon">insert_drive_file</md-icon>
            <span class="md-list-item-text">keine Medikamentenabgaben</span>
            <span flex></span>
        </md-list-item>-->
    <md-list>
        <md-list-item ng-repeat="drugItem in PrescriptionView.freshDispense.DrugItems" ng-hide="drugItem.Quantity == 0">
            <md-icon>healing</md-icon>
            <div class="md-list-item-text" layout="column">
                <span>{{ drugItem.Drug.DrugDescription}}</span>
                <md-input-container>
                    <input ng-model="drugItem.Quantity" ng-change="PrescriptionView.changeQuantityAction(drugItem.Id, drugItem.Quantity, '{{drugItem.Quantity}}')" type="number" placeholder="Menge" required>
                </md-input-container>
                <span>Preis: </span>
            </div>
            <md-button class="md-secondary" ng-click="PrescriptionView.removeFromDispense(drugItem)">
                <md-icon>remove_circle</md-icon>
                <md-tooltip>Medikament aus Abgabe entfernen</md-tooltip>
            </md-button>
        </md-list-item>
    </md-list>
    <!--<span>Medikamentenabgabe von {{dispense.HandedBy.FirstName}} {{dispense.HandedBy.LastName}}</span>
    <span>Ausgestellt am {{dispense.Date | date:"dd.MM.yyyy"}}</span>-->
    <!--<md-button class="md-secondary md-raised">Anzeigen</md-button>-->
    <div layout="row">
        <span>Total:</span>
        <div flex></div>
        <md-button class="md-raised md-primary" ng-click="null">
            <md-icon>check</md-icon>
            <span>Visieren</span>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="null">
            <md-icon>save</md-icon>
            <span>Speichern</span>
        </md-button>
    </div>
</md-whiteframe>
