<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">Patienten Übersicht</div>
</md-toolbar>
<md-whiteframe class="whiteframe md-whiteframe-2dp" layout="column" layout-align="center" layout-margin>
    <div layout="column" ng-click="widgetExpanded = !widgetExpanded" ng-show="PrescriptionView.prescription.prescriptionHistory.length > 0">
        <div flex>
            <md-icon ng-hide="widgetExpanded" md-font-set="material-icons">keyboard_arrow_down</md-icon>
            <md-icon ng-show="widgetExpanded" md-font-set="material-icons">keyboard_arrow_up</md-icon>
            <div>History</div>
        </div>
    </div>
    <md-list layout-fill ng-slide-down="widgetExpanded" duration="0.2" lazy-render>
        <md-list-item ng-repeat="prescription in PrescriptionView.prescription.prescriptionHistory" md-item-size="20" md-on-demand>
            <div layout="column">
               <div flex layout="column">
                    <span>Geändert am {{ prescription.EditDate }}</span>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <div layout="row" layout-align="space-between center">
        <span>Rezept #{{PrescriptionView.prescription.Id}}</span>
        <span>Gültig bis: {{PrescriptionView.prescription.ValidUntil}}</span>
    </div>
    <md-divider></md-divider>
    <md-list>
        <md-list-item class="md-3-line" layout="row" layout-align="space-between" ng-repeat="drugItem in PrescriptionView.prescription.Drugs">
            <md-icon>healing</md-icon>
            <div layout="column" layout-align="center start">
                <span>Beschreibung: {{drugItem.Drug.DrugDescription}}</span>
                <span>Dosierung: {{drugItem.DosageDescription}}</span>
                <span>Menge: {{drugItem.Amount}}</span>
            </div>
        </md-list-item>
    </md-list>
</md-whiteframe>
<md-whiteframe class="whiteframe md-whiteframe-2dp" layout="column" layout-margin>
    <div layout="row" layout-align="space-around center" ng-click="widgetExpanded = !widgetExpanded">
        <md-icon ng-hide="widgetExpanded" md-font-set="material-icons">keyboard_arrow_down</md-icon>
        <md-icon ng-show="widgetExpanded" md-font-set="material-icons">keyboard_arrow_up</md-icon>
        <div>Aussteller Informationen</div>
        <md-divider></md-divider>
    </div>
    <div layout="column" layout-align="center start" ng-show="widgetExpanded">
        <span>{{ PrescriptionView.prescription.Doctor.FirstName }} {{PrescriptionView.prescription.Doctor.LastName}}</span>
        <span>{{ PrescriptionView.prescription.Doctor.Address.Street}} {{PrescriptionView.prescription.Doctor.Address.Number}}</span>
        <span>{{ PrescriptionView.prescription.Doctor.Address.CityCode}} {{PrescriptionView.prescription.Doctor.Address.City}}</span>
        <span>Tel. {{ PrescriptionView.prescription.Doctor.PhoneNumber}}</span>
    </div>
</md-whiteframe>
<md-whiteframe class="whiteframe md-whiteframe-2dp" layout="column" layout-align="center" layout-margin>
    <div>Rezeptabgabe</div>
    <md-list flex>
        <md-list-item class="md-3-line" ng-show="!UserOverview.prescriptions.length" flex>
            <md-icon class="material-icons md-48">insert_drive_file</md-icon>
            <span>keine Rezepte</span>
            <md-button>Anzeigen</md-button>
        </md-list-item>
        <md-list-item class="md-3-line" ng-repeat="prescription in UserOverview.prescriptions">
            <md-icon class="md-36" md-font-set="material-icons">insert_drive_file</md-icon>
            <p>Rezept von {{prescription.Doctor.FirstName}} {{prescription.Doctor.LastName}}</p>
            <p>Ausgestellt am {{prescription.IssueDate | date:"dd.MM.yyyy"}}</p>
            <md-button>Anzeigen</md-button>
        </md-list-item>
    </md-list>
</md-whiteframe>
