<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">Rezept erstellen</div>
</md-toolbar>

<md-whiteframe class="whiteframe md-whiteframe-2dp" layout="column" layout-align="center" layout-margin>
    <p>Rezept für Patient<i> xxxxxxxxxxxxxx </i>erstellen</p>
    <md-divider></md-divider>
    <form name="prescriptionForm">
        <md-list layout-fill>
            <md-list-item ng-repeat="drug in PrescriptionCreator.drugs" flex layout="column" layout-margin>
                <div><b>{{ drug.DrugDescription }}</b></div>
                <div layout="row" flex>
                    <md-input-container flex="30" class="md-block">
                        <md-icon>exposure</md-icon>
                        <input type="number" min="1" placeholder="Menge" required>
                    </md-input-container>
                    <md-input-container flex="60" class="md-block">
                        <md-icon>access_time</md-icon>
                        <input type="text" placeholder="Dosierung" required>
                    </md-input-container>
                    <md-button class="md-icon-button" ng-click="PrescriptionCreator.removeDrug($index)">
                        <md-icon>remove_circle</md-icon>
                    </md-button>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <div layout="row" layout-align="space-between center">
            <div class="date-picker">
                <md-datepicker ng-model="PrescriptionCreator.prescriptionValidity" md-placeholder="Gültig bis"></md-datepicker>
            </div>
            <md-button id="prescription-add-button" class="md-fab" ng-click="PrescriptionCreator.addDrug()">
                <md-icon>add</md-icon>
            </md-button>
        </div>
    </form>
        <md-button class="md-raised" ng-disabled="prescriptionForm.$invalid" ng-click="PrescriptionCreator.savePrescription(PrescriptionCreator.prescription)">SPEICHERN</md-button>
</md-whiteframe>



    





