<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">Patient suchen</div>
</md-toolbar>
<div layout="row" layout-align="center center">
    <form name="searchForm">
        <md-input-container class="md-block" flex-gt-sm>
            <label>AHV-Nummer</label>
            <input name="social" ng-model="UserSearch.social" ng-socialnumber ng-minlength="13" required />
            <div ng-messages="searchForm.social.$error">
                <!--<div ng-message="pattern">Bitte gültige AHV-Nummer eingeben.</div>-->
                <div ng-message="socialnumber">AHV nicht gültig</div>
                <div ng-message="required">Muss einen Wert haben</div>
                <div ng-message="minlength">Die AHV-Nummer ist zu kurz</div>

            </div>
        </md-input-container>
    </form>
        <md-button ng-click="UserSearch.search($event)" ng-disabled="searchForm.$invalid">
            <md-icon md-font-set="material-icons">search</md-icon>
            Suchen
        </md-button>
    
</div>