<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools" translate="TOOLBAR-TITLE.REGISTER-PATIENT"></div>
</md-toolbar>
<md-whiteframe class="whiteframe md-whiteframe-1dp form-standard" layout="column" layout-margin layout-align="center">
    <div layout="column">
        <form name="registerForm">
            <div class="form-container" layout="column" layout-align="center">
                <md-input-container flex class="md-block">
                    <label translate="SOCIALNUMBER"></label>
                    <md-icon md-font-set="material-icons"></md-icon>
                    <input ng-model="UserRegister.patient.AhvNumber" type="text" disabled required>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex class="md-block">
                        <label translate="FIRSTNAME"></label>
                        <md-icon md-font-set="material-icons" class="person">person</md-icon>
                        <input ng-model="UserRegister.patient.FirstName" flex="90" type="text" required>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label translate="LASTNAME"></label>
                        <input ng-model="UserRegister.patient.LastName" flex="90" type="text" required>
                        <md-icon></md-icon>
                    </md-input-container>
                </div>

                <div class="date-picker">
                    <md-datepicker flex name="birthdate" ng-model="UserRegister.patient.BirthDate" md-max-date="UserRegister.today" required></md-datepicker>
                    <div ng-messages="registerForm.birthdate.$error" class="validation-messages">
                        <div ng-message="maxdate" translate="ERROR.BIRTHDATE-FUTURE"></div>
                        <div ng-message="required" translate="ERROR.REQUIRED"></div>
                    </div>
                </div>

                <div class="address" layout="column">
                    <div layout="row">
                        <md-input-container flex="70" class="md-block">
                            <label translate="STREET"></label>
                            <md-icon md-font-set="material-icons" class="location_city">location_city</md-icon>
                            <input ng-model="UserRegister.patient.Address.Street" type="text" required>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label translate="HOUSENUMBER"></label>
                            <md-icon></md-icon>
                            <input ng-model="UserRegister.patient.Address.Number" type="text" required>
                        </md-input-container>
                    </div>
                    <md-input-container flex class="md-block">
                        <label translate="STREETEXTENSION"></label>
                        <md-icon></md-icon>
                        <input ng-model="UserRegister.patient.Address.StreetExtension" type="text">
                    </md-input-container>
                    <div layout="row">
                        <md-input-container flex="30" class="md-block">
                            <label translate="CITYCODE"></label>
                            <md-icon></md-icon>
                            <input ng-model="UserRegister.patient.Address.CityCode" type="text" ng-pattern="/[0-9]{4}$/" required>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label translate="LOCATION"></label>
                            <md-icon></md-icon>
                            <input ng-model="UserRegister.patient.Address.Location" type="text" required>
                        </md-input-container>
                    </div>
                    <md-input-container flex class="md-block" flex-gt-sm>
                        <md-icon></md-icon>
                        <label translate="STATE"></label>
                        <md-select ng-model="UserRegister.patient.Address.State">
                            <md-option ng-repeat="canton in UserRegister.cantons" value="{{canton.abbrev}}">
                                {{canton.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-input-container flex class="md-block">
                    <label translate="PHONENUMBER"></label>
                    <md-icon md-font-set="material-icons" class="phone">phone</md-icon>
                    <input ng-model="UserRegister.patient.PhoneNumber" type="tel" ng-pattern="/^(\(?([0-9]{3})\)?)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/" required>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <label translate="EMAIL"></label>
                    <md-icon md-font-set="material-icons" class="email">email</md-icon>
                    <input ng-model="UserRegister.patient.EMailAddress" type="email" required>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <label translate="INSURANCENUMBER"></label>
                    <md-icon md-font-set="material-icons" class="local_hospital">local_hospital</md-icon>
                    <input ng-model="UserRegister.patient.InsuranceNumber" type="text" required>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <label translate="INSURANCE"></label>
                    <md-icon></md-icon>
                    <input ng-model="UserRegister.patient.Insurance" type="text"required>
                </md-input-container>
            </div>
        </form>
        <md-button class="md-raised" ng-click="UserRegister.savePatient(UserRegister.patient)" ng-disabled="registerForm.$invalid">{{ 'SAVE' | translate}}</md-button>
    </div>
</md-whiteframe>





