<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">Patienten Übersicht</div>
</md-toolbar>
<md-whiteframe class="whiteframe md-whiteframe-2dp form-standard" layout="column" layout-align="center" layout-margin>
    <div class="form-container" layout="column" layout-align="center" layout-margin>
        <md-input-container flex class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon md-font-set="material-icons"></md-icon>
            <input ng-model="UserOverview.patient.AhvNumber" type="text" placeholder="AHV-Nummer" disabled>
        </md-input-container>
        <div layout="row">
            <md-input-container flex class="md-block">
                <!-- Use floating placeholder instead of label -->
                <md-icon md-font-set="material-icons" class="person">person</md-icon>
                <input ng-model="UserOverview.patient.FirstName" type="text" placeholder="Name" disabled>
            </md-input-container>
            <md-input-container flex class="md-block">
                <!-- Use floating placeholder instead of label -->
                <input ng-model="UserOverview.patient.LastName" type="text" placeholder="Nachname" disabled>
                <md-icon></md-icon>
            </md-input-container>
        </div>
        <div class="date-picker">
            <md-datepicker flex ng-model="UserOverview.patient.BirthDateStr" md-placeholder="Geburtsdatum" disabled></md-datepicker>
        </div>
        <div class="address" layout="column" flex>
            <div layout="row">
                <md-input-container flex="70" class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <input ng-model="UserOverview.patient.Address.Street" type="text" placeholder="Strasse" disabled>
                    <md-icon md-font-set="material-icons" class="location_city">location_city</md-icon>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <input ng-model="UserOverview.patient.Address.Number" type="number" placeholder="Hausnr." disabled>
                    <md-icon></md-icon>
                </md-input-container>
            </div>
            <md-input-container flex class="md-block">
                <!-- Use floating placeholder instead of label -->
                <input ng-model="UserOverview.patient.Address.StreetExtension" type="text" placeholder="Addresszusatz" disabled>
                <md-icon></md-icon>
            </md-input-container>
            <div layout="row">
                <md-input-container flex="30" class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <input ng-model="UserOverview.patient.Address.CityCode" type="number" placeholder="PLZ" disabled>
                    <md-icon></md-icon>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <input ng-model="UserOverview.patient.Address.City" type="text" placeholder="Stadt" disabled>
                    <md-icon></md-icon>
                </md-input-container>
            </div>
            <md-input-container flex class="md-block" flex-gt-sm>
                <label>Kanton</label>
                <input ng-model="UserOverview.patient.Address.State" type="text" placeholder="Stadt" disabled>
                <md-icon></md-icon>
            </md-input-container>
        </div>
        <md-input-container flex class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon md-font-set="material-icons" class="phone">phone</md-icon>
            <input ng-model="UserOverview.patient.PhoneNumber" type="tel" placeholder="Telefon" disabled>
        </md-input-container>
        <md-input-container flex class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon md-font-set="material-icons" class="email">email</md-icon>
            <input ng-model="UserOverview.patient.EMailAddress" type="email" placeholder="Email" disabled>
        </md-input-container>
        <md-input-container flex class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon md-font-set="material-icons" class="local_hospital">local_hospital</md-icon>
            <input ng-model="UserOverview.patient.InsuranceNumber" type="text" placeholder="Versicherungs-Nummer" disabled>
        </md-input-container>
        <md-input-container flex class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon></md-icon>
            <input ng-model="UserOverview.patient.Insurance" type="text" placeholder="Versicherung" disabled>
        </md-input-container>
    </div>
    <div layout="row" layout-align="end center">
        <md-button id="user-edit-button" class="md-fab" ng-click="UserOverview.editUser()">
            <md-tooltip>
                Benutzerdaten bearbeiten
            </md-tooltip>
            <md-icon>mode_edit</md-icon>
        </md-button>
    </div>
</md-whiteframe>
<md-whiteframe class="whiteframe md-whiteframe-2dp form-standard" layout="column" layout-align="center" layout-margin>
    <div>Rezepte</div>
    <md-list>
        <md-list-item ng-show="!UserOverview.prescriptions.length">
            <div>
                <md-icon class="material-icons md-48">insert_drive_file</md-icon>
                <span>keine erfassten Rezepte</span>
            </div>
        </md-list-item>
        <md-list-item ng-repeat="prescription in UserOverview.prescriptions" ng-click="UserOverview.showPrescription(prescription.Id)">
            <md-icon class="md-48" md-font-set="material-icons">insert_drive_file</md-icon>
            <div layout="column" layout-align="center start">
                <md-tooltip>Rezept anzeigen</md-tooltip>
                <span>Rezept von {{prescription.Doctor.FirstName}} {{prescription.Doctor.LastName}}</span>
                <span>Ausgestellt am {{prescription.IssueDate | date:"dd.MM.yyyy"}}</span>
            </div>
            <div flex></div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <div layout="row" layout-align="end center">
        <md-button id="prescription-add-button" class="md-fab" ng-click="UserOverview.addPrescription()">
            <md-tooltip>
                Neues Rezept erfassen
            </md-tooltip>
            <md-icon>add</md-icon>
        </md-button>
    </div>
</md-whiteframe>
