<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">Patient registrieren</div>
</md-toolbar>
<md-whiteframe class="whiteframe md-whiteframe-1dp form-standard" layout="column" layout-margin layout-align="center">
    <div layout="column">
        <form name="registerForm">
            <div class="form-container" layout="column" layout-align="center">
                <md-input-container flex class="md-block">
                    <md-icon md-font-set="material-icons"></md-icon>
                    <input ng-model="UserRegister.patient.AhvNumber" type="text" placeholder="AHV-Nummer" disabled required>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex class="md-block">
                        <md-icon md-font-set="material-icons" class="person">person</md-icon>
                        <input ng-model="UserRegister.patient.FirstName" flex="90" type="text" placeholder="Name" required>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <input ng-model="UserRegister.patient.LastName" flex="90" type="text" placeholder="Nachname" required>
                        <md-icon></md-icon>
                    </md-input-container>
                </div>

                <div class="date-picker">
                    <md-datepicker flex ng-model="UserRegister.patient.BirthDate" md-placeholder="Geburtsdatum" required></md-datepicker>
                </div>

                <div class="address" layout="column">
                    <div layout="row">
                        <md-input-container flex="70" class="md-block">
                            <md-icon md-font-set="material-icons" class="location_city">location_city</md-icon>
                            <input ng-model="UserRegister.patient.Address.Street" type="text" placeholder="Strasse" required>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <md-icon></md-icon>
                            <input ng-model="UserRegister.patient.Address.Number" type="number" placeholder="Hausnr." required>
                        </md-input-container>
                    </div>
                    <md-input-container flex class="md-block">
                        <md-icon></md-icon>
                        <input ng-model="UserRegister.patient.Address.StreetExtension" type="text" placeholder="Addresszusatz">
                    </md-input-container>
                    <div layout="row">
                        <md-input-container flex="30" class="md-block">
                            <md-icon></md-icon>
                            <input ng-model="UserRegister.patient.Address.CityCode" type="number" placeholder="PLZ" ng-pattern="/[0-9]{4}$/" required>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <md-icon></md-icon>
                            <input ng-model="UserRegister.patient.Address.Location" type="text" placeholder="Stadt" required>
                        </md-input-container>
                    </div>
                    <md-input-container flex class="md-block" flex-gt-sm>
                        <md-icon></md-icon>
                        <label>Kanton</label>
                        <md-select ng-model="UserRegister.patient.Address.State">
                            <md-option ng-repeat="canton in UserRegister.cantons" value="{{canton.abbrev}}">
                                {{canton.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-input-container flex class="md-block">
                    <md-icon md-font-set="material-icons" class="phone">phone</md-icon>
                    <input ng-model="UserRegister.patient.PhoneNumber" type="tel" placeholder="Telefon" ng-pattern="/^(\(?([0-9]{3})\)?)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/" required>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <md-icon md-font-set="material-icons" class="email">email</md-icon>
                    <input ng-model="UserRegister.patient.EMailAddress" type="email" placeholder="Email" required>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <md-icon md-font-set="material-icons" class="local_hospital">local_hospital</md-icon>
                    <input ng-model="UserRegister.patient.InsuranceNumber" type="text" placeholder="Versicherungs-Nummer" required>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <md-icon></md-icon>
                    <input ng-model="UserRegister.patient.Insurance" type="text" placeholder="Versicherung" required>
                </md-input-container>
            </div>
        </form>
            <md-button class="md-raised" ng-click="UserRegister.savePatient(UserRegister.patient)" ng-disabled="registerForm.$invalid">SPEICHERN</md-button>
</div>
</md-whiteframe>





