<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">Patient suchen</div>
</md-toolbar>
<div layout="row" layout-align="center center">
    <form name="searchForm">
        <md-input-container class="md-block" flex-gt-sm>
            <label>AHV-Nummer</label>
            <input name="social" ng-model="social" ng-pattern="/^[0-9]{3}.[0-9]{4}.[0-9]{4}.[0-9]{2}$/" required />
            <div ng-messages="searchForm.social.$error">
                <div ng-message="pattern">Bitte gültige AHV-Nummer eingeben.</div>
            </div>
        </md-input-container>
    </form>
        <md-button ng-click="search(social, $event)" ng-disabled="searchForm.$invalid">
            <md-icon md-font-set="material-icons">search</md-icon>
            Suchen
        </md-button>
    
</div>