<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">Patient registrieren</div>
</md-toolbar>
<md-whiteframe class="whiteframe md-whiteframe-1dp" layout="column" layout-align="center">
    <div layout="column">
        <div class="form-container" layout="column" layout-align="center">
            <div layout="row">
                <md-input-container flex class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <md-icon md-font-set="material-icons" class="person">person</md-icon>
                    <input ng-model="UserRegister.patient.firstName" type="text" placeholder="Name" ng-required="true">
                </md-input-container>
                <md-input-container flex class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <input ng-model="UserRegister.patient.lastName" type="text" placeholder="Nachname" ng-required="true">
                    <md-icon></md-icon>
                </md-input-container>
            </div>

            <div class="date-picker">
                <md-datepicker flex ng-model="UserRegister.patient.birthdate" md-placeholder="Geburtsdatum"></md-datepicker>
            </div>

            <div class="address" layout="column" flex>
                <div layout="row">
                    <md-input-container flex="70" class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <input ng-model="UserRegister.patient.address.street" type="text" placeholder="Strasse" ng-required="true">
                        <md-icon md-font-set="material-icons" class="location_city">location_city</md-icon>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <input ng-model="UserRegister.patient.address.number" type="number" placeholder="Hausnr." ng-required="true">
                        <md-icon></md-icon>
                    </md-input-container>
                </div>
                <md-input-container flex class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <input ng-model="UserRegister.patient.address.additionalAddress" type="text" placeholder="Addresszusatz">
                    <md-icon></md-icon>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex="30" class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <input ng-model="UserRegister.patient.address.cityCode" type="number" placeholder="PLZ" ng-pattern="/[0-9]{4}$/" ng-required="true">
                        <md-icon></md-icon>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <input ng-model="UserRegister.patient.address.city" type="text" placeholder="Stadt" ng-required="true">
                        <md-icon></md-icon>
                    </md-input-container>
                </div>
                <md-input-container flex class="md-block" flex-gt-sm>
                    <label>Kanton</label>
                    <md-select ng-model="UserRegister.patient.address.canton">
                        <md-option ng-repeat="canton in UserRegister.cantons" value="{{canton.abbrev}}">
                            {{canton.abbrev}}
                        </md-option>
                    </md-select>
                    <md-icon></md-icon>
                </md-input-container>
            </div>

            <md-input-container flex class="md-block">
                <!-- Use floating placeholder instead of label -->
                <md-icon md-font-set="material-icons" class="phone">phone</md-icon>
                <input ng-model="UserRegister.patient.phoneNumber" type="tel" placeholder="Telefon" ng-pattern="/^(\(?([0-9]{3})\)?)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/" ng-required="true">
            </md-input-container>

            <md-input-container flex class="md-block">
                <!-- Use floating placeholder instead of label -->
                <md-icon md-font-set="material-icons" class="email">email</md-icon>
                <input ng-model="UserRegister.patient.emailAddress" type="email" placeholder="Email" ng-required="true">
            </md-input-container>

            <md-input-container flex class="md-block">
                <!-- Use floating placeholder instead of label -->
                <md-icon md-font-set="material-icons" class="local_hospital">local_hospital</md-icon>
                <input ng-model="UserRegister.patient.insuranceNumber" type="text" placeholder="AHV-Nummer" ng-required="true">
            </md-input-container>

            <md-input-container flex class="md-block">
                <!-- Use floating placeholder instead of label -->
                <md-icon></md-icon>
                <input ng-model="UserRegister.patient.insurance" type="text" placeholder="Versicherung" ng-required="true">
            </md-input-container>
        </div>
        <md-button class="md-raised" ng-click="UserRegister.savePatient(UserRegister.patient)">SPEICHERN</md-button>
    </div>
</md-whiteframe>
    




