<!DOCTYPE html>
<html>
<head>
    <title>Pharmscription</title>
    <meta charset="utf-8"/>
    <link href="jspm_packages/github/angular/bower-material@1.1.0-rc4/angular-material.min.css" rel="stylesheet" />
    <link href="img/icons/material-icons.css" rel="stylesheet" />
    <link href="img/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="style/style.css" rel="stylesheet" />
</head>
<body>
<div ng-controller="MainMenuController as Main" layout="column" layout-fill ng-cloak>
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="Main.toggleLeft()" hide-gt-md>
                <md-icon md-font-set="material-icons">menu</md-icon>
            </md-button>
            <h2 class="md-display-3">Pharmscription</h2>
            <span flex></span>
            <md-input-container>
                <md-select ng-model="Main.language" ng-change="Main.changeLanguage()" placeholder="language" translate translate-attr-placeholder="LANGUAGE">
                    <md-option ng-repeat="lang in Main.languages" value="{{lang.lang}}">{{ lang.lang }}</md-option>
                </md-select>
            </md-input-container>
            
            <md-menu>
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="More">
                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item><md-button ng-click="null"><md-icon>lock</md-icon>Login</md-button></md-menu-item>
                    <md-menu-item><md-button href="#/"><md-icon>home</md-icon>home</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="Main.toggleLeft()" hide-gt-md>
                        <md-icon md-font-set="material-icons">arrow_back</md-icon>
                    </md-button>
                    <span>Menu</span>
                </div>
            </md-toolbar>
            <md-content ng-controller="MainSideMenuController as SideMenu">
                <md-list>
                    <md-list-item ng-click="SideMenu.goTo('#')">
                        <md-icon>search</md-icon>
                        <p class="md-exclude" translate="TOOLBAR-TITLE.PATIENTSEARCH">Patient suchen</p>
                    </md-list-item>
                    <md-list-item ng-click="SideMenu.goTo('/drug/search')">
                        <md-icon>healing</md-icon>
                        <p class="md-exclude" translate="TOOLBAR-TITLE.DRUGSEARCH"></p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex>
            <div ng-view layout="column" layout-align="start center"></div>
        </md-content>
    </section>
</div>

<script src="/jspm_packages/system.js"></script>
<script src="config.js"></script>
<script src="build.js"></script>
<!--<script>
    System.import('./ts/bootstrapDev.ts')
        .catch(console.error.bind(console));
</script>-->
<script>
    System.import('./ts/bootstrap.ts')
        .catch(console.error.bind(console));
</script>

<!--<script src="js/main.js"></script>-->
</body>
</html>
